In [27]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [12]:
dest = '/content/drive/MyDrive/HSE Final Project/to_train'
name = 'submit_1_abandoned.csv'

df = pd.read_csv(dest + '/' + name)
df.head()

   shop_id  item_id  year  date_block_num  item_cnt_day  item_price  prev_value
0        0       19  2013               0           0.0        28.0         0.0
1        0       27  2013               0           0.0      2499.0         0.0
2        0       28  2013               0           0.0       549.0         0.0
3        0       29  2013               0           0.0      2499.0         0.0
4        0       32  2013               0           6.0       349.0         0.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10913850 entries, 0 to 10913849
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   shop_id         int64
 1   item_id         int64
 2   year            int64
 3   date_block_num  int64
 4   item_cnt_day    float64
 5   item_price      float64
 6   prev_value      float64
dtypes: float64(3), int64(4)
memory usage: 582.9 MB

In [14]:
X = df.drop('item_cnt_day', axis=1)
y = df.loc[:, 'item_cnt_day']

Due to the fact that we predict future, it makes no sense to shuffle the data

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.3,
                                                    shuffle=False,
                                                    random_state=7)

In [16]:
learning_rate = 0.1
max_depth = 7
random_state = 7
verbosity = 2

In [17]:
xgbr = xgb.XGBRegressor(verbosity=verbosity,
                        eta=learning_rate,
                        max_depth=max_depth,
                        random_state=random_state)

In [ ]:
xgbr.fit(X_train, y_train)

In [19]:
from sklearn.metrics import mean_squared_error

y_pred = xgbr.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

print('MSE: %.2f' % mse)
print('RMSE: %.2f' % (mse ** (0.5)))

MSE: 11.42
RMSE: 3.38

In [ ]:
# from sklearn.metrics import mean_squared_log_error
# msle = mean_squared_log_error(y_test, y_pred)
# print('RMSLE: %.2f' % (msle ** (0.5)))

In [21]:
dest = '/content/drive/MyDrive/HSE Final Project/to_test'
name = 'submit_1_test.csv'

test_df = pd.read_csv(dest + '/' + name)
test_df.head()

   shop_id  item_id  year  date_block_num  item_price  prev_value
0        5     5037  2015              34      2599.0         0.0
1        5     5320  2015              34        -1.0         0.0
2        5     5233  2015              34      1199.0         1.0
3        5     5232  2015              34      1199.0         0.0
4        5     5268  2015              34        -1.0         0.0

In [23]:
test_pred = xgbr.predict(test_df)
print(test_pred)

[0.2995303  0.00174049 0.6385161  ... 0.09801519 0.04761729 0.14121968]

In [24]:
name_sample = 'sample_submission.csv'

sample = pd.read_csv(dest +'/' + name_sample)
sample.head()

   ID  item_cnt_month
0   0             0.5
1   1             0.5
2   2             0.5
3   3             0.5
4   4             0.5

In [28]:
sample.item_cnt_month = np.round(test_pred)
sample.head()

   ID  item_cnt_month
0   0             0.0
1   1             0.0
2   2             1.0
3   3             0.0
4   4            -0.0

In [29]:
sample.to_csv('submission #5 (no encoding, two notebooks).csv', index=False)